*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    /* width: 100%; */
}


title{
    font-size: 18px;
}

body{
    width: 100%;
}
.navi{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin-left: 100px;
    margin-right: 50px;
    gap: 30px;
    color: #c5cad5;
    font-size: 18px;
    padding: 25px;


}
.logo{
    margin-right: auto;
    font-size: 20px;
    color: #F9FAF8;
    font-weight: bold;
}
.navi>li{
    justify-content: flex-end;
}

.nav{
    height: 576px;
    background-color:#1F2937;
    color: #F9FAF8;
}

nav .text{
    margin-left: 200px;
    padding: 25px;
    margin-top: 100px;
    
}

h2{
    font-size: 48px;
    font-weight:900;
    line-height: 50px;
}

p{
    line-height: 50px;
    font-size: 18px;
    margin-top: 20px;
}

img{
    width: 220px;
    float: right;
    margin-top: -250px; 
    margin-right: 60px; 
    border-radius: 9px; 
}

.butt{
    width: 125px;
    background-color: #3882F6;
    height: 40px;
    color: white;
    font-size: 20px;
    border-radius:9px;
    border-color: #3882F6;
    margin-top: 25px;
}

.begin{
    
    text-align: center;
    margin-top: 20px;
    font-size: 42px;
    font-weight: 1500;
}
.boxes{
    display: flex;
    justify-content:center;
    gap: 50px;
    margin-top: 20px;
    
  
}

.box1{
    width: 159px;
    color:#3882F6;
    height: 150px;
    border: 6px solid #3882F6 ;
    border-radius: 12px;
    
}

.para4{
    position: relative;
    margin-top: 150px;
    line-height: 20px;
    padding-top: 10px;
    text-align: center;
    margin-left: -12px;
    color: rgb(113, 111, 111);
    font-size: 18px;
}

.third{
    margin-top: 150px;
    background-color: #E5E7EB;
   height: 70vh;
}

.align{
    margin-left: 200px;
}

.inspire{
    font-size: 36px;
    font-weight:100;
    font-style: italic;
    color: #1F2937;
    padding-top: 120px;
}
.author{
    margin-right: 200px;
    text-align: end;
    font-weight: bold;
    font-size: 22px;
}

.fourth{
    background-color: #3882F6;
    width: 1000px;
    margin: auto;
    margin-top: 100px;
    height: 200px;
    margin-bottom: 100px;
    border-radius: 15px;
}

.call{
    margin-left: 120px;
    padding-top: 50px;
    color: white;
    margin-bottom: 0px;
    font-size: 24px;
}

.sign{
    margin-left: 120px;
    margin-top: -5px;
    font-size: 22px;
    color: white;
}

.butt2{
    float: right;
    margin-right: 50px;
    font-size: 20px;
    color: white;
    background-color: transparent;
    width: 130px;
    border: 2px solid white;
    height: 42px;
    border-radius: 5px;
    margin-top: -60px;
}

.footer{
    background-color: #1F2937;
    height: 7vh;
    margin-bottom:5vh;
}
.copy{
    color: white;
    display: block;
    text-align: center;
    padding-top: 10px;
    font-size: 17px;
}